doctype html
html.sticky-footer(lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title Testing NPM
    link(href='https://brand.arizona.edu/sites/all/themes/brand/ua-brand-icons/ua-brand-icons.css', rel='stylesheet')
    link(href='http://bitbucket.org/uadigital/ua-bootstrap/downloads/ua-bootstrap-1.0.0-alpha7.min.css', rel='stylesheet')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js does not work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  body
    header.page-row
      | Tksldkfjsdlksdjflksdjflkjsdflkjsdflkj fjslkdfjhlkjljlkjljis kjdslfkjsdlfjsdlkiiiiiiis a tiny header that has changed again.
    section#content.page-row.page-row-expanded
      h1 Hello, earth!
      // jQuery (necessary for Bootstrap JavaScript plugins)
      script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.0/jquery.min.js')
      // Latest compiled and minified JavaScript
      script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')
    footer.page-row
      | Tlkdjsflskdsjflkjsdflkjsdflkjsdflkjsdlkfjdsldjflksdjflskjhis kjlsjdlfj is the `footer` for this testsssskjslfjsdlkfjsdl.kjlsdjkflkdsjflakjs:
